<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="mecânica.Properties.Settings.MECANICAConnectionString"
            connectionString="Data Source=LAPTOP-VDAM66LU;Initial Catalog=MECANICA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="mecânica.Properties.Settings.RESERVAConnectionString"
            connectionString="Data Source=LAPTOP-VDAM66LU;Initial Catalog=RESERVA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>